<% provide(:title, @user.name) %>
<div class="row">

	<p>Добро пожаловать!</p>
	<p>Сейчас: <%= Time.now %></p>
  <aside class="span4">
    <section>
      <h1>
        <%#= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <% if current_user.admin?  %>
  	<p>У вас имеется <%= pluralize(@total_orders,"order") %>.</p>

  <% end %>

</div>