<footer class="navbar navbar-fixed-bottom navbar-inverse">
   <div class="navbar-inner"> 
    <div class="container"> 
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to "Powered by xenik", '#' %></li>
        <!-- <li><%= link_to "Написать письмо", '#' %></li> -->
      </ul>
    </nav>
   </div>
 </div> 
</footer>